@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS Variables */
:root {
  --primary-font: Roboto, sans-serif;
  --primary-color: #0e4962;
  --secondary-color: #e74c3c;
  --highlight-color: #f4f3f1;  
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  box-sizing: border-box;
  background-color: var(--highlight-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.hero {
  height: 500px;
  background-size: cover;
  background-position: center; 
  
}

#hero-index {
  background-image: url("../images/asmara-main-street.webp");
}

#hero-history {
  background-image: url("../images/asmara-old-picture.webp");
}

#hero-travel {
  background-image: url("../images/camel-for-tourists.webp");
}

.hero-content {
  padding: 10px;
  margin-top: 250px;
  background-color: rgba(0, 0, 0, 0.6);
}

#navbar {
  background-color: var(--primary-color);
  text-transform: uppercase;
  transition: 2s ease-in-out;
}

.nav-item a:hover {
  background-color: var(--secondary-color);
}

main .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

#map {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 0;
  height: 100%;
  margin-bottom: 2rem;
  align-items: center;
}

.address {
  font-weight: bold;
  display: inline;
  
}

/*Footer Styling */
.footer {
  background-color: var(--primary-color);
}

.quick-links a:hover {
  background-color: var(--secondary-color);
}

.social-links {
  font-size: 20px;
}

.social-icons li a:hover {  
  background-color: var(--secondary-color);
}

@media only screen and (min-width: 1200px) {
  p, .form-control, .form-label {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  p, .form-control, .form-label {
    font-size: 1.1rem;
  }
}


@media only screen and (max-width: 768px) {
  p, .form-control, .form-label {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 576px) {
  #navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .nav-item {
    margin-bottom: 1rem;
  }

  .social-links {
    margin-top: 1rem;
    flex-direction: column;
  }
 
  .footer-content  p, p, .form-control, .form-label, .quick-links {
    font-size: 0.8rem;
  }  
}
